<div id="about" class="section">
    <div class="titleImg">
            <div class="img01">
                <img src="../images/01.svg" alt="">
            </div>
            <div class="img02">
                <img src="../images/02.svg" alt="">
            </div>
            <div class="img03">
                <img src="../images/03.svg" alt="">
            </div>
    </div>
    <div class="container">
        <div class="introTitle">
            <div class="txt">
                <span>ABOUT</span>
                <p>UI&UX DESIGER AND FRONT-END</p>
            </div>
        </div>
        <div class="skill">
            <div class="imgBox"><img src="../images/01.svg" alt="">
                <img src="../images/03.svg" alt="">
                <img src="../images/circle-org.svg" alt="">
            </div>
            <div class="mainTxt">
                <span>CONCEPT</span>
                <p>Honey</p>
            </div>
            <div class="subTxt">
                <span>                   
                    저는 UI&UX DESIGER AND FRONT-END 김하늬 입니다. <br>
                    좋은 디자인이란  이야기가 있는 디자인입니다. <br>
                    인간은 감정을 가진 존재이기에 우리들은 우리가 하는 모든 일에서 의미를 찾으려 합니다. <br>
                </span>
                <span>
                    저의 이름과 비슷한 honey 라는 별명은 꿀벌처럼 열정적으로 일하는 저를 표현합니다. <br> 
                    꿀방울을 상징하는 움직이는 대담한 일러스트와 전체적인 컬러 디자인은 <br>
                    Yellow  계열을 사용해서 honey 라는 컨셉에 맞게 디자인 하였습니다.
                </span>
            </div>
            <div class="typingTxt">

            </div>
            <div class="dummyTxt">
            <p>
                Good design is
            </p> 
            <p>
                Storytelling
            </p></div>
            <div class="ball"><img src="../images/물방울-yel-list.svg" alt=""></div>
            <div class="skillList">
                <span class="mainTxt">MY SKILLS</span>
                <img src="../images/Group 19.png " alt="">
                <a href="https://github.com/kimhaneui?tab=repositories">
                    <img src="../images/git-logo.jfif" alt="">
                    <p>My Github</p>
                </a>
                
            </div>
        </div>
    </div>
</div>