<div id="contact" class="section">
    <div class="titleImg">
        <div class="img01">
            <img src="../images/01.svg" alt="">
        </div>
        <div class="img02">
            <img src="../images/02.svg" alt="">
        </div>
        <div class="img03">
            <img src="../images/03.svg" alt="">
        </div>
    </div>
    <h2>CONTACT</h2>
    <div class="contactBox">
        <div class="profile">
            <img src="../images/contact.png" alt="">
        </div>
        <div class="img01">
            <img src="../images/01.svg" alt="">
        </div>
        <div class="img02">
            <img src="../images/02.svg" alt="">
        </div>
    </div>
</div>