<div id="frame" class="section">
    <div class="titleImg">
        <div class="img01">
            <img src="../images/01.svg" alt="">
        </div>
        <div class="img02">
            <img src="../images/02.svg" alt="">
        </div>
        <div class="img03">
            <img src="../images/03.svg" alt="">
        </div>
    </div>
    <div class="title">
        <h2>Frame</h2>
    </div>
    <div class="frame">
        <h1>webFrame</h1>
        <div class="webFrame">
            <ul>
                <li>
                    <span>01. Home</span>
                    <img src="../images/web/webframe01.png" alt="">
                </li>
                <li>
                    <span>02. Menu</span>
                    <img src="../images/web/webframe02.png" alt="">
                </li>
                <li>
                    <span>03. page</span>
                    <img src="../images/web/webframe03.png" alt="">
                </li>
            </ul>
        </div>
        <div class="webOutput">
            <div class="box01">
                <span>Frame Output</span>
                <div class="txtBox">
                    <a href="/novel/" target="_blank">
                        <div class="imgBox">
                            <img src="../images/web/novel.png" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="mobileFrame">
            <h1>mobileFrame</h1>
            <ul>
                <li>
                    <span class="main">01. Login</span>
                    <span class="sub"> - 여러가지 부계정을 사용한 소셜 연결</span>
                    <p>부계정 활용으로 다중 로그인 기능 제공</p>
                    <img src="../images/mobile/frame01-w.png" alt="">
                </li>
                <li>
                    <span class="main">02. Search</span>
                    <span class="sub"> - 미니멀리스트 디자인</span>
                    <p>여분의 부속물을 모두 제거하면 사용자가 앱이나 웹사이트의 기능성 자체에 집중하게 됩니다.</p>
                    <img src="../images/mobile/frame02-w.png" alt="">
                </li>
                <li>
                    <span class="main">03. About</span>
                    <span class="sub"> - 하단 내비게이션을 도입</span>
                    <p>스마트폰의 성장으로 세로 비율이 높은 화면에서 엄지손가락의 사용범위는 감소되었습니다.  <br>
                        이 문제를 해결하기 위해 구글, 페이스북과 같은 기업들은 하단 내비게이션을 도입하기 시작했고 <br>
                        이는 곧 업계 표준이 됐습니다.
                    </p>
                    <img src="../images/mobile/frame03-w.png" alt="">
                </li>
            </ul>
        </div>
        <div class="mobileOutput">
            <span>Frame Output</span>
            <p>뉴모피즘을 활용한 Output</p>
            <ul>
                <li>
                    <img src="../images/mobile/mobile01.png" alt="">
                </li>
                <li>
                    <img src="../images/mobile/mobile02.png" alt="">
                </li>
                <li>
                    <img src="../images/mobile/mobile03.png" alt="">
                </li>
            </ul>
        </div>
    </div>
</div>